<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015918841200-vc8nf6e750igf9bu2ta70kitu74ola5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015918841200-vc8nf6e750igf9bu2ta70kitu74ola5j</string>
	<key>API_KEY</key>
	<string>AIzaSyBBFs6EQKEDZCVULO1l2mNAPOnclP-QOnU</string>
	<key>GCM_SENDER_ID</key>
	<string>1015918841200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyMemo</string>
	<key>PROJECT_ID</key>
	<string>mememo-ada5d</string>
	<key>STORAGE_BUCKET</key>
	<string>mememo-ada5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015918841200:ios:475e1e1fefb14c126893b5</string>
</dict>
</plist>